.vscode
.idea
__pycache__/
site_tracker/__pycache__
site_tracker/tracker/migrations/__pycache__
site_tracker/learn_it/__pycache__
site_tracker/tests.py
site_tracker/migrations/__pycache__
site_tracker/site_tracker/local_settings.py
site_tracker/frontend/node_modules
db.sqlite3
engine.db
venv
.env
temp.py
site_tracker/db.sqlite3

*.manifest
*.spec
*.pyc
